@import '../variables.scss';

.pizza-block {
  text-align: center;
  width: 100%; // Устанавливаем ширину на 100% для адаптивности
  max-width: 280px; // Устанавливаем максимальную ширину
  margin-bottom: 20px; // Добавляем отступ снизу

  &:not(:nth-of-type(4n)) {
    margin-right: 20px; // Уменьшаем отступ между блоками
  }

  &__img {
    width: 100%; // Делаем изображение адаптивным
    height: auto; // Сохраняем пропорции изображения
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px; // Увеличиваем отступы внутри селектора

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 10px; // Увеличиваем отступ между списками
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0 45px; // Добавляем отступы по бокам
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    padding: 0 30px; // Уменьшаем отступы по бокам
  }
}